*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #dfd5c6;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li ::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #a4947b;
    display: block;
    margin: auto;
    transition: 0.5s ;
}
.nav-links ul li :hover::after{
    width: 100%;
}



.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(52, 66, 122, 0.7),rgba(4,9,30,0.7)),url(images/Untitled\ design\(20\).png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}



.gallery{

    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;

}
.gallery-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}
.gallery-col img {
    width: 100%;
    border-radius: 25px;
}
.gallery-col p{
    padding: 0;
}
.gallery-col h2{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


h2{
    font-size: 40px;
    font-weight: 600;
    color: #905d10;
}
p{
    text-align: center;
    color: #583705;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 1%;
    display: flow-root;
    justify-content: space-between;
}

.footer4 {
    background-color: #7a613c;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
.footer4 p{
    font-size: 15px;
    color: black;
}

